{% extends 'boards/base.html' %} 

{% block body %}
    <h1 class='text-center'>EDIT</h1>
    <p><b>기존사진</b></p>
    <img src="{{board.image.url}}" alt = '{{board.image}}'></img><br>
    <form action='', method='POST' enctype = 'multipart/form-data'>
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id='title' value={{'board.title'}}/><br>
        <label for="Content">Content</label><br>
        <textarea name="content" id="Content" cols="30" rows="10">{{ board.content }}</textarea>
        <input type="file" name="image" accept='image/*'/>
        <input type="submit" value="Submit" />
    
    </form>
{% endblock %}
